In [4]:
#Basic Imports
import pandas as pd
import numpy as np
import matplotlib as plt
import statsmodels.api as sm
import seaborn as sns
from ISLP import load_data
from ISLP.models import (ModelSpec as MS,summarize)
from sklearn.model_selection import train_test_split

In [5]:
from functools import partial
from sklearn.model_selection import (cross_validate, KFold, ShuffleSplit)
from sklearn.base import clone

In [8]:
Auto = load_data("Auto")
auto_train,auto_valid = train_test_split(Auto,test_size= 196, random_state= 0)

In [21]:
hp_mm = MS(["horsepower"])
X_train = hp_mm.fit_transform(auto_train)
y_train = auto_train["mpg"]
model = sm.OLS(y_train,X_train)
results = model.fit()
summarize(results)

               coef  std err       t  P>|t|
intercept   39.9055    1.009  39.537    0.0
horsepower  -0.1563    0.009 -17.333    0.0

In [22]:
X_valid = hp_mm.transform(auto_valid)
y_valid = auto_valid["mpg"]
Valid_pred = results.predict(X_valid)

In [23]:
MSE = np.mean((y_valid - Valid_pred)**2)
print(f"MSE: {MSE}")

MSE: 23.61661706966988